appver.pri
*.bkp
readme-*.txt
*.qm
moc_*
qrc_*.cpp
gen_*
*.o
*.gcno
Makefile
*.so
*.so.*

# vim swap files
.*.swp
BUILD_ID
Makefile
doc/html
lib/*
.moc
.obj
.*.swp
*.o
*~
*.tmp
*moc_*
*.log
*.log.xml
*-stamp
*.gcov
*.log.xml
*.deb
*.gcno
*.old
*.foo
*.gcda
*.pro.user
*.app
.DS_Store
.dummy
cscope.files
cscope.out
.gen
.qmake.cache
*.pc
build/*
readme.txt
Makefile.Debug
Makefile.Release
object_script.*
rpm/*
debian/easybrain.substvars
debian/files
install/*
output/*
debian/easybrain/*
debian/changelog
easybrain.changes
doc/tmp/*
