[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=EasyBrain
Exec=/usr/bin/easybrain
Icon=easybrain
Categories=Application;Office;
X-HildonDesk-ShowInToolbar=true
X-Window-Icon=easybrain
X-Window-Icon-Dimmed=easybrain
X-Osso-Type=application/x-executable
